@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: #fff;
}

.bg_gradient {
  background: radial-gradient(at 62% 20%, #93ff61 0px, transparent 50%),
    radial-gradient(at 61% 29%, #1bfff1 0px, transparent 20%),
    radial-gradient(at 65% 29%, #00ef8b 0px, transparent 40%),
    radial-gradient(at 36% 24%, #ffb800 0px, transparent 30%),
    radial-gradient(at 23% 20%, #bd00ff 0px, transparent 70%);

  filter: blur(170.5px);
  height: 50%;
  top: 4rem;
}

/* Tailwind Styles */
.nav_links {
  @apply mx-5 my-3  text-[16px];
}

/* Flex */
.flex_row {
  @apply flex flex-row;
}

.flex_col {
  @apply flex flex-col;
}

.hero_btn {
  @apply rounded-[5px] w-[219px] h-[56px] ml-6;
}

/* Form styles */
.input_text {
  @apply rounded-[5px] w-[100%] h-[46px] bg-[#2F2F2F] border-[1px] border-[#CBD2E0] p-[6px] mb-2 focus:border-[#00ef8b] focus:outline-none;
}
.input_btn {
  @apply rounded-[5px] w-[100%] h-[46px] mt-6;
}

/* Custom Gradient */
.hero_gradient-1 {
  background-image: linear-gradient(
    180deg,
    #00ef8b 0%,
    #ffffff 75.52%,
    #8dffcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.hero_gradient-2 {
  background-image: linear-gradient(
    180deg,
    #00ef8b 0%,
    rgba(191, 255, 228, 0.482031) 48.44%,
    rgba(141, 255, 207, 0.03) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  background-clip: text;
}

.sign_in_wrapper_gradient {
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  border: 1px solid #00ef8b;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.sign_in_gallery_gradient {
  background: linear-gradient(180deg, #0f0c0c 0%, rgba(15, 12, 12, 0) 100%);
  border: 1px solid #00ef8b;
}

.dashboard_gradient {
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}

/* Animations */
.border_animate {
}

.bg_gradient_animate {
  transform: translate(60px, 50px);
  animation: bgGradientAnimation 4s ease-in-out infinite forwards;
}

/* frames */
@keyframes bgGradientAnimation {
  0% {
    transform: translate(60px, 50px);
  }
  30% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(-60px, -50px);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 50px);
  }
}
